body{
    font-family: Candara, Arial, sans-serif;
}

.site-title a{
    text-transform: uppercase;
    font-size: 40px;
    text-decoration: none;
}

.site-description{
    font-size: 20px;
    color: red;    
}

.nav.nav-pills{
    margin-bottom: 20px; 
    background: lightblue;
}

.container .jumbotron{
    background-color: gainsboro;
    
}

main .advert img{
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
}

main h2{
    margin-top: 10px;
    margin-bottom: 20px;
}
 
main .media img{
    margin-right: 10px;
    width: 100px;
}

.more-posts{
    background: #e3e3e3;
    padding: 5px;
}

.widget{
    background: #e3e3e3;
    padding: 10px;
    border: 1px solid rgba(143, 141, 141, 1);
    border-radius: 10px;
}


.site-footer{
    background-color: lightblue;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 20px;
}

#siteinfo{
    background-color: #75c2dc;
    padding-top: 10px;
    padding-bottom: 10px;
    
}




/*About page*/

.container .menu{
    margin-bottom: 20px;
}


.container .carousel-item img{
    height: 350px;   
}

main .container h1{
    
    margin-top: 20px;
    margin-bottom: 10px;
    
}

/*Contact page*/


.container.contact-form{
    background: #d3e8ec;
    color: black;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey;
    
}

.form-control{
    margin-bottom: 10px;
}








